.Landing {
  width: 80%;
  padding: 40px 20px;
  margin: 20px auto 60px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7); 
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ContentLeft {
  width: 50%;
  float: left;
}

h1 {
  margin: 0 20px;
}

.ContentRight {
  width: 50%;
  float: right;
}

.gridImage {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
}

.Divider {
  width: 50%;
  display: block;
  margin: 80px auto;
}

@media screen and (max-width: 750px) {
  .ContentLeft,
  .ContentRight {
    width: 100%;
    float: none;
  }
}