.Quizzes {
  width: 80%;
  max-width: 650px;
  margin: 20px auto 80px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
}

.Spinner {
  margin: 20px auto;
}
