.Account {
  text-align: center;
  margin: 20px auto 60px auto;
  width: 500px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
}

.List {
  text-align: left;
}

.Button {
  margin-top: -10px;
}