.Play {
  width: 80%;
  max-width: 700px;
  margin: 20px auto 80px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 20px;
}

.Question {
  width: 80%;
  margin: 0 auto;
  color: #000;
  border: 1px solid #dddfd4;
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  overflow-wrap: break-word;
}

.ButtonGrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.Play p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: bold;
}

.Image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}